body{
	background-color: #e3e3e3;
	margin: auto;
	width: 700px;
	font-family: sans-serif;
}

.quote{
	width: 700px;
    padding: 2px;
    border: 2px solid white;
    margin: auto; 
    text-align: center;
}
